/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin: 0 auto;
}

/* card */
.card-article {
  width: 315px;
  height: 550px;
  background-color: green;
  display: inline-block;
  position: relative;
}

img{
    width: 100%;
}


.favorite {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 0;
}

.sales {
  background-color: red;
  color: white;
  position: relative;
  bottom: 50px;
  padding: 5px;
  font-size: 1.2em;
}

.object-article {
  background-color: #00875a;
  color: white;
  padding: 5px;
  font-size: 1.2em;
  position: relative;
  bottom: 50px;
  left: 5px;
}

.sezione {
  width: 100%;
  height: 100px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.name-article {
  display: block;
}

.color-article {
  display: block;
}

.price-article {
  display: block;
}
