/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


/*  carta articolo */
.card{
  width: calc(100% / 3 - 4px);
  display: inline-block;
  cursor: pointer;
  margin: 30px;
  padding: 10px;
}

/* carta immagine */
.card-image{
position: relative;
}

img{
  width: 100%;
}

.favourite{
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 30px;
}

.card-badges{
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 50px;
}

.card-sales{
  color: white;
  display: inline-block;
  padding: 5px 10px;
}

.bg-red{
  background-color: red;
}

.bg-green{
  background-color: green;
}

.card-new-price{
  color: red;
  font-weight: bold;
}

.card-old-price{
text-decoration-line: line-through;}