/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container {
  width: 50%;
  margin: 0 auto;
}

/* card */
.card-article {
  width: calc(100% / 3 - 4px);
  height: 550px;
  background-color: green;
  display: inline-block;
  position: relative;
}

.card-article:hover #copertina{
    display: none;
}


.card-article:hover #retro{
    display: inline-block;
}


.img-article{
    width: 100%;
}
 
#retro{
    display: none;
}

.favorite-article {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 0;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
}





.sales-article {
  background-color: red;
  color: white;
  position: relative;
  bottom: 50px;
  padding: 5px;
  font-size: 1.2em;
}

.object-article {
  background-color: #00875a;
  color: white;
  padding: 5px;
  font-size: 1.2em;
  position: relative;
  bottom: 50px;
  left: 5px;
}

.description-article {
  width: 100%;
  height: 100px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.name-article {
  display: block;
}

.color-article {
  display: block;
  font-size: 1.3em;
}

.price-article {
  display: inline-block;
  color: red;
  font-weight: bold ;
}

.old-price{
    display: inline;
    text-decoration-line: line-through;
}