/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


/*  carta articolo */
.card{
  width: calc(100% / 3 - 4px);
  display: inline-block;
  cursor: pointer;
  margin: 30px;
  padding: 10px;
}

/* carta immagine */
.card-image{
position: relative;
}

img{
  width: 100%;
}

.favourite{
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 30px;
}